# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env
.env.*

# Django
db.sqlite3
*.log
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Docker
docker-compose.override.yml